body {
    font-family: 'Roboto', sans-serif;
    background-color: #fccaa9;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: auto;
    background: rgb(255, 254, 174);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #2c3e50;
    margin-bottom: 20px;
}

input[type="text"] {
    width: 94%;
    padding: 15px;
    margin: 10px 0;
    border: 2px solid #128ada;
    border-radius: 5px;
    font-size: 16px;
}

input[type="text"]:focus {
    border-color: #2980b9;
    outline: none;
}

button {
    width: 100%;
    padding: 15px;
    background-color: #0597f8;
    color: rgb(241, 245, 240);
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #29b935;
}

#result {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ecf0f1;
    text-align: left;
}

#result h2 {
    margin: 0;
    color: #2c3e50;
}

#result p {
    margin: 5px 0;
}